body, html {
    height: 100%;
    margin: 0;
}

.result-list li {
    list-style-type: none;
}
header {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    padding-right: 30px;
}

.query-input {
    font-size: 2em;
}

.query-submit {
    font-size: 2em;
    background-color:#5f4747;
    border:2px solid #5f4747;
    color: aliceblue;
}

.query-submit:hover {
    cursor: pointer;
}

main {
    background-color: blanchedalmond;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

main aside {
    width: 300px;
    padding: 10px;
}

ul {
    padding: 0;
}

.info-box {
    background-color: floralwhite;
    flex-grow: 1;
    min-width: 400px;
    padding-left: 30px;
    flex-basis: 100px;
}

hx {
    font-weight: bold;
}

.thumbnail {
    float: left;
    margin-right: 10px;
}

.result-list:after {
    content: "";
    display: table;
    clear: both;
}

.rate-list li {
    display: inline;
}

.rate-list li:hover {
    cursor: pointer;
    color: orange;
}

.mov-description {
    margin: 0 20px 20px 20px;
}